/* Body Background Color */ 

$bkgColor: rgb(45, 58, 71); /* original rgb(45, 58, 71)*/ 



/* Gradiente Color */

$gradColor1: rgb(89, 109, 52); /* original rgb(62, 52, 109)*/ 
$gradColor2: rgb(0, 204, 255); /* original rgb(0, 204, 255*/