



/* definicios contenedor paginas internas */
.pages {
    width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 10px;
    }


    /* Cursos.html */

    .cursos__block {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 25%;
        justify-content: center;
    }

    .backimage {
        background-image: url(../img/stage1.jpg);
        background-repeat: no-repeat;
        background-size: cover;     
        }
    

    div table {
        display: flex;
        justify-content: center;
        }

    /* table definition */

        table th {
        color: blue;
        background-color: rgb(179, 179, 88);
        border: rgb(255, 255, 255) 1px solid;
        }
        
        table td {
        color: rgb(247, 223, 88);
        /* background-color: rgb(58, 59, 59); -*/
        border: rgb(255, 255, 255) 1px solid;
        }
    

    

/* Documentos.html */
    .docuimg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px auto;
    }

    /* Corrige valores Dropdow button */

    .dropdown {
        margin-top: 3px;
    }

    .btn {
        padding: 0;
    }

    .dropdown-item:hover {
        background-color: rgb(47, 154, 255);
}      


    

/* Contacto.html */
    div.contacto {
        max-width: 40%;
        padding: 8px;
        background-color: rgb(115, 115, 158);
        margin: 25px auto;
        Border: double 5px;
    }


/* Quienes Somos.html */

    div.somos__block {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        padding: 3px;
    }

    .somos__video {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 600px;
        height: auto;
        margin: 5% auto 1%;
    }

    .somos__text {
        display: block;
        flex-direction: column;
        align-items:center;
        width: 600px;
        height: auto;
        margin: 20px auto;
        border: 3px white;
    }